@charset "UTF-8";

@font-face {
    font-family: crawler;
    src: url("../fontes/Super\ Crawler.ttf"), format(truetype);
}
@font-face {
    font-family: hands;
    src: url("../fontes/KGRedHands.ttf"), format(truetype);
}
*{
    padding: 0px;
    margin: 0px;
}

.b{
    color: blue;
}

.y{
    color: rgba(192, 192, 0, 0.884);
}

.r{
    color: red;
}

.v{
    color: green;
}

#r{
    color: red;
}

body{
    background-image: linear-gradient(to right, rgb(0, 221, 255));
}

h2{
    font-family: hands, serif;
}

header{
    background-image: linear-gradient(to bottom, #00b7ff, black);
    padding-bottom: 50px;
    padding-top: 30px;
    min-height: 105px;
    width: 100%;
}

header h1{
    font-family: crawler, serif;
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 3px black;
}

header p{
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
}

nav{
    background-color: black;
}

nav a{
    margin: 5px;
    color: white;
    text-decoration: none;
    transition-duration: 0.3s;
}

nav a:hover{
    background-color: #00b7ff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

main{
    background-color: white;
    min-width: 350px;
    max-width: 1100px;
    margin: auto;
    width: 100%;
}

main h1{
    text-align: center;
    color: rgb(0, 110, 110);
    text-shadow: 2px 1px 2px black;
}

main h2{
    padding: 10px 10px;
    background-image: linear-gradient(to right, rgba(0, 255, 255, 0.66), transparent);
}

main p{
    font-family: hands, serif;
    line-height: 40px;
    text-indent: 40px;
    padding-left: 10px;
}

img{
    display: block;
    margin: auto;
    width: 90%;
    padding-bottom: 10px;
}

.pequena{
        max-height: 600px;
        background-color: rgb(0, 213, 255);
        padding-top: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
}

ul{
    list-style-position: inside;
    list-style-type: none;
    padding-left: 10px;
}

aside{
    background-color: rgba(0, 87, 146, 0.815);
    margin: 0px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h3{
    padding-left: 10px;
    background-color: rgb(0, 134, 138);
    margin: 0px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(255, 254, 254);
    text-shadow: 1px 1px 1px black;
}

.video{
    margin-left: 10px;
    padding-bottom: 60%;

    position: relative;
}

.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    background-color: rgb(0, 0, 0);
    height: 40px;
}

footer p{
    color: white;
    text-align: center;
    padding-top: 10px;
}

footer a{
    text-decoration: none;
    color: white;
}

.externo{
    text-decoration: none;
}

.externo::after{
    content: "\1F517";
}

footer a:hover{
    text-decoration: underline;
    color: #00b7ff;
}

#r:hover{
    text-decoration: underline;
}

abbr{
    text-decoration: none;
}